[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mypy = "*"
rope = "*"
pytest-asyncio = "*"
yapf = "*"
pre-commit = "*"
build = "*"
setuptools = "*"
setuptools_scm = "*"
wheel = "*"

[requires]
python_version = "3.12"
